@import 'src/styles/variables.scss';

.country {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 16px;
  height: 16px;
}

.name {
  color: $gray;
  font-size: $mediumFZ;
}

.info {
  display: flex;
  gap: 15px;
  text-align: center;
  align-items: center;
}

.additional {
  color: $yellow;
}

.total {
  font-size: 22px;
  font-weight: 700;
}