@import "../../styles/mixins";

nav {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}

.icon {
  @include square(50px);
}

.special {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.search {
  @extend .icon;
  background: url("./icons/search-icon--gray.svg") no-repeat center;

  &:hover {
    background: url("./icons/search-icon.svg") no-repeat center;
  }
}

.warning {
  @extend .icon;
  background: url("./icons/warning-icon--gray.svg") no-repeat center;

  &:hover {
    background: url("./icons/warning-icon.svg") no-repeat center;
  }
}