$marginWrap: 50px;
$black: #1e1e1e;
$yellow: #f5c778;
$white: #ffffff;
$gray: #9a9faa;
$backgroundGray: #222529;
$mediumFZ: 20px;

$button: hsl(0, 0%, 12%);
$button-hover: hsl(0, 0%, 20%);
$button-active:  hsl(0, 0%, 30%);
$button-visited: hsl(0, 0%, 20%);