@import "src/styles/variables";

.sidebar {
  margin-top: -$marginWrap;
  padding-top: $marginWrap;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
}

.tittle {
  margin-bottom: 25px;
  text-align: center;
}

.cases {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 25px;
}