@import "src/styles/variables";

.caseBtn {
  padding: .9rem 1.7rem;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background: $backgroundGray;
  border: solid 1px $black;
  box-shadow: inset 0 0 0 2px $white;
  margin-right: 1em;
}

.caseBtn:hover {
  text-decoration: underline;
  background: $button-hover;
  box-shadow: inset 0 0 0 4px $white;
}

.caseBtn:active {
  color: $yellow;
  background: $button-active;
}

.caseBtn:visited {
  background: $button-visited;
}

.active {
  color: $yellow;
}