@import 'src/styles/variables';

.search {
  margin-right: 50px;
  margin-left: $navWidth + 50px;

  input {
    width: 90%;
  }

  &__input {
    position: relative;
    input {
      background: transparent;
      color: $white;
      min-width: 15rem;
      padding: 1rem 1.2rem;
      border: .2rem solid $grayTransparent;
      border-radius: .2rem;
      outline: none;
      transition: border .2s ease, border-color .2s ease;

      &:focus {
        border-color:  $yellow;
      }
    }

    label {
      position: absolute;
      top: 50%;
      left: 0;
      margin-left: .8rem;
      padding: 0 .4rem;
      font-size: 1.2rem;
      user-select: none;
      transform: translateY(-50%);
      transition: top .2s, font-size .2s, color .2s;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      background: $backgroundGray;
      color: $yellow;
      top: 0;
      font-size: 1rem;
    }

    input:not(:focus) + label {
      color: $grayTransparent;
    }
  }

  &__list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }
}

.list__item {
  color: $white;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;

  &:hover {
    transition: all 0.5s ease;
    color: $yellow;
  }
}

