@import '../../styles/variables';

.stat-card {
  display: grid;
  grid-template-areas: "image title new"
                         "image number new";
  height: min-content;
  width: fit-content;
  margin: 10px 0;

  &__image {
    grid-area: image;
    height: 50px;
    width: 50px;
  }

  &__title {
    color: $gray;
    margin-left: 15px;
  }

  &__number {
    margin-left: 10px;
    align-self: end;
  }

  &__new-cases {
    grid-area: new;
    padding-top: 10px;
    color: $yellow;
    margin-left: 5px;
    font-weight: 500;
  }
}
